body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('diu.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  backdrop-filter: blur(3px);
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.login-box {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  width: 300px;
  color: #fff;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  font-weight: bold;
  color: solid black;
}

.textbox input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  outline: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.textbox input:focus {
  border-bottom: 2px solid #00c3ff;
  background-color: rgba(255, 255, 255, 0.3);
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #ccc;
  margin-top: 5px;
}

.options a {
  color: #aad8ff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #00c3ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0099cc;
}

.register-link {
  margin-top: 20px;
  font-size: 12px;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
}

.register-link a:hover {
  color: #aad8ff;
}
